<h3>Edit Band Info</h3>
<div class="row">
  <form class="col s12 band-edit-form">
    <div class="row">
      <div class="input-field">
        <input
          data-artist
          type="text"
          id="artist"
          name="artist"
          value="{{band.artist}}"
          required
        />
        <label for="title">Artist</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input
          type="text"
          id="state"
          name="state"
          value="{{band.state}}"
          required
        />
        <label for="title">State</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input
          type="text"
          id="city"
          name="city"
          value="{{band.city}}"
          required
        />
        <label for="title">City</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input
          type="text"
          id="genre"
          name="genre"
          value="{{band.genre}}"
          required
        />
        <label for="title">Genre</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input
          type="url"
          id="socialmedia"
          name="socialmedia"
          value="{{band.socialmedia}}"
          required
        />
        <label for="title">Social Media</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="status" id="status">
          {{#select band.status}}
            <option value="active" selected>Active</option>
            <option value="hiatus">Hiatus</option>
            <option value="split-up">Split-Up</option>
            <option value="unknown">Unknown</option>
          {{/select}}
        </select>
        <label for="status">Status</label>
      </div>
    </div>
    <div class="row">
      {{{band.image}}}
      <div class="input-field">
        <p><label for="bandImage">Select File to Update Image</label></p>
        <input
          type="file"
          id="bandImage"
          name="file"
          id="file"
          accept=".jpg, .jpeg, .png"
        />
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn" />
      <a href="/bands/{{band._id}}" class="btn orange">Cancel</a>
    </div>

  </form>
  <script src="/js/img-update.js" defer></script>

  {{#if file_type_err_msg}}
    <script>
      window.onload = function(){ M.toast({ html: '{{file_type_err_msg}}',
      classes: "black-text red" }) }
    </script>

  {{/if}}
</div>