<form action="/bands/search?param=query" method="POST">
  <div class="row center">
    <div class="col s3 input-field">
      <label for="search">Search</label>
      <input type="text" name="query" id="search" />
    </div>
    <div class="col s3 input-field">
      <select name="searchBy" id="bands-status">
        <label for="status">Filter Search</label>
        <option value="artist" selected>By Artist</option>
        <option value="city">By City</option>
        <option value="state">By State</option>
        <option value="genre">By Genre </option>
      </select>
    </div>
    <div class="col s3 input-field">
      <select name="status" id="bands-set-status">
        <option value="any" selected>Any</option>
        <option value="active" >Active</option>
        <option value="hiatus">Hiatus</option>
        <option value="splitUp">Split-up</option>
        <option value="unknown">Unknown</option>
         <label for="status">Set Status</label>
      </select>
    </div>
   <div class="col s3 input-field"><input
        type="submit"
        value="Search"
        class="btn-large"
      /></div>
  </div>
</form>

{{#if bands}}
  <table class="responsive-table index-table">
    <thead data-bands-index-thead class="grey darken-3">
      <tr>
        <th>Artist</th>
        <th>State</th>
        <th>City</th>
        <th>Genre</th>
        <th>Status</th>
        <th>Added By</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody data-bands-index-tbody>
  {{bands.user}}
       
      {{#each bands}}
        <tr class="max-width">
          <td><a href="/bands/{{_id}}">{{artist}}</a></td>
          <td>{{state}}</td>
          <td>{{city}}</td>
          <td>{{genre}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td><a href="/profile/{{user._id}}">{{user.displayName}}</a></td>
          <td class="spacing-reset">{{{editIcon user ../user _id false false "band"}}}</td>
          <td class="spacing-reset">{{{deleteIcon user ../user _id "band"}}}</td>     
        </tr>
      {{/each}}
    </tbody>
  </table>
 
{{else}}
  <p>There are no bands created</p>
{{/if}}

<script src="/js/bands-index.js"></script>
